.buttons-csv span {
    color: white;
}
@media (min-width: 1400px) {
    body,input,select,textarea,#ordersTable{
        font-size: 20px !important;
        color: black !important;
    }
    select{
        padding : 0px !important;
    }
}
@media (max-width: 1400px) {
    body,input,select,textarea{
        font-size: 14px !important;
        color: black !important;
    }
    select{
        padding : 0px !important;
    }
}
#ordersTable{
    line-height: 2em;


}
#AdultPressLogo{
    height: 25px;
}
#app-footer{
    display: block;
    vertical-align: bottom;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    margin: 0;
    padding: 1em;
    min-width: 100%;
    text-align: center;
}

.footer{
    min-height: 50px;
}

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.fullcontainer{
    width: 100%;
    padding: 0 15px;
}

#tasks_list   tr:nth-child(2n),
#customers_list  tr:nth-child(2n),
#users_list tr:nth-child(2n),
.invoiveListTable tr:nth-child(2n),
#paymentsReportTable tr:nth-child(2n),
#transactionsListTable tr:nth-child(2n){
    background-color:#f6f6f6;
}

.invoiveListTable   tr:nth-child(2n+1),
#paymentsReportTable   tr:nth-child(2n+1),
#transactionsListTable   tr:nth-child(2n+1),
#tasks_list   tr:nth-child(2n+1),
#customers_list  tr:nth-child(2n+1),
#users_list tr:nth-child(2n+1){
    background-color:#fff;
}

#tasks_list thead tr:first-child,
#tasks_list thead tr:nth-child(2),
.invoiveListTable thead tr:first-child,
.invoiveListTable thead tr:nth-child(2),
#paymentsReportTable thead tr:first-child,
#paymentsReportTable thead tr:nth-child(2),
#transactionsListTable thead tr:first-child,
#transactionsListTable thead tr:nth-child(2),
#customers_list thead tr:first-child,
#customers_list thead tr:nth-child(2),
#users_list thead tr:first-child,
#users_list thead tr:nth-child(2)
{
    background-color:#d8eed8;
}

table{
    width: 100% !important;
}

span#Active{
    color: #6f6;
}

span#Deactive{
    color:#f66;
}

body{
    margin-bottom: 10em;
}


tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
dd,dt,label{
    font-weight: normal;
}

.ui-autocomplete{
    font-size: 0.9em;
}

ol li{
    list-style: none;
}
ol{
    padding: 0;
}
.error{
    color: red;
    font-size: 0.7em;
    font-style: italic;
}
#duplicated_list tbody tr:hover{
    background-color: #dddddd;
    cursor: pointer;
    padding: 5px;
}
.small{
    font-size: 0.8em;
}
#cvsButton a span{
    color: white;
    text-decoration: none;
}

.successcontainer, .errorscontainer,.statusscontainer{
    text-align: center;
}
.successcontainer{
    background-color: #ccffcc !important;
}
.errorscontainer{
    background-color: #ffcccc !important;
}
.statusscontainer{
    background-color: #ccffff !important;
}
.fileinput input{
    margin: 0;
}
#ordersTable{
    width: 100%;
}
#ordersTable tfoot{
    background-color: #DDD;
    font-weight: bold;
}
#ordersTable tbody tr{
    padding: 5px 0;
}
.borderedTitle,.currentInvDetails,#addressDiv, #ordersTableContainer{
    margin: 20px;
    padding: 10px;    
    border-radius: 10px;
}
.amountColumn{
    text-align: right;
    margin: 0px !important;
    vertical-align: middle !important;
    padding: 0 5px !important;
}
.invoiveListTable tbody tr,
#transactionsListTable tbody tr{
    cursor: pointer;
}
.titlesDiv{
    background-color: #EEE;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
}
#paymentsHistory{
    font-size: 0.8em;
}
#tabBtnGroup {
    padding: 0px;
    margin: 10px 0 -42px 0;
    text-align: center;
}

div#tabBtnGroup .btn {
    margin-right: -10px!important;
    padding: 15px!important;
}

div#tabBtnGroup .btn:first-child {
    border-top-left-radius: 15px!important;
}

div#tabBtnGroup .btn:last-child {
    border-top-right-radius: 15px!important;
}

.panel-heading{
    display: inline-block;
    width: 100%;
}
td{
    padding: 0px;
    margin: 0px;
}
.multipleSelectContainer{
    max-width: 200px;
}

.Editor-editor{
    font-size: 1em !important;
}
.borderedDiv , .currentInvDetailsContainer{
    border: 1px #AAA solid;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
input{
    min-width: 20px;
    min-height: 20px;
}

.page-panelheading:first-child{
    font-weight: bolder;
    font-size: 1.2em;

}
.form-group.required .control-label:after {
    content:"*";
    color:red;
}
.active a{
    background-color: #0077c0 !important;
    color: white !important;
}
.navbar-logo {
    background: url(/public/img/crm_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;    
    margin: 5px 15px 5px 0;
    border-radius: 25px;
}

.caret {
    margin-left: 8px!important;
}

.nav li i {
    margin-right: 5px!important;
} 

.navbar-nav li a:hover {    
    color: #fff!important;
    background-color: #000!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #000;
}

.nav>li {
    position: relative;
    display: block;
    height: 50px;
}

.nav .dropdown-toggle {
    height: 50px;
    font-size: 20px!important;
}

.nav .dropdown-menu li a {
    font-size: 20px;
}

#fileupload{
    font-size: 0.8em !important;
    padding: 5px;
    height: 40px;
}
.btn-margin {
    margin: 5px 0px 5px 5px !important;
}
.orderTableTitles{
    font-size: 0.8em;
    font-weight: lighter;

}

.expInvColumn,.expInvColumn a{
    color: red;
    font-size: 0.8em;
}
#ordersContainer{
    font-size: 0.8em;
}

@media screen and (max-width: 640px) {
    table {
        overflow-x: auto;
        display: block;
    }
}

#ordersTableContainer{
    display: -webkit-box;
}

#customers_list th,#customers_list select,
#tasks_list th,#tasks_list select{
    padding: 0px;
    margin: 0px;
    text-align: center;
    /*font-size: 0.8em;*/
}
/*    LOADING BAR          */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    opacity: 0.5;
    width: 500px;
    background: #fff;
    border: 5px solid #ff8080;

    overflow: hidden;
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    max-width: 500px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #ff8080;
}

.pace.pace-inactive {
    display: none;
}


.myob-company-search-table-container,.myob_search_container,.company-files-table-container{
    position: fixed !important;
    left: 5%;
    top: 5%;
    z-index: 1000;
    padding: 20px;
    width: 90%;
}

.hidden{
    display: none !important;
}

.close-popup{
    margin: 20px 0 !important;
    float: right;
}

.customerChecklist .row{
    margin: 10px 15px;
}

.customerChecklist .label{
    padding: 0 5px
}

.expired-task-wrapper{
    float: right;
}

.due-date-wrapper{
    width: 300px;
    float: left;
}

#customerStatusForm button{
    margin: 32px 0 0;
}

/*   END LOADING BAR          */

/*   CUSTOMER FILTERS         */

.cb-dropdown-wrap {
    max-height: 80px; /* At most, around 3/4 visible items. */
    position: relative;
    height: 34px;
  }
  
  .cb-dropdown,
  .cb-dropdown li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .cb-dropdown {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* For selected filter. */
  .active .cb-dropdown {
    border: 1px solid #1e90ff;
  }
  
  .cb-dropdown-wrap:hover .cb-dropdown {
    height: auto;
    max-height: 50vh;
    width: auto;
    overflow: auto;
    transition: 0.2s height ease-in-out;
    z-index: 9;
  }

  .cb-dropdown li:hover {
      background: #1e90ff;
      color: #fff;
  }
  
  /* For selected items. */
  .cb-dropdown li.active {
    background: #1e90ff;
    color: #fff;
  }
  
  .cb-dropdown li label {
    display: block;
    position: relative;
    cursor: pointer;
    line-height: 19px; /* Match height of .cb-dropdown-wrap */
  }
  
  .cb-dropdown li label > input {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    display: none;
  }
  
  .cb-dropdown li label > span {
    display: block;
    margin-left: 3px;
    margin-right: 3px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    line-height: 32px;
    font-weight: 600;
  }

  /*   END CUSTOMER FILTERS         */

  body#app-layout {
    background-color: #f1f1f1;
  }

  /*   LOGIN          */ 
  
  .login .navbar.navbar-default.navbar-static-top {
    display: none;
  }
  
  .login .panel-heading.page-panelheading {
    display: none;
  }

  .login form.form-horizontal {
    padding: 25px;
  }

  .login .panel.panel-default {
    margin-top: 25px;
    border-radius: 0;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.35);
  }

  .crm-logo {
    background: url(/public/img/crm_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    border-radius: 100px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.35);
}

.background-login {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url(/public/img/background-login.jpg);
    background-repeat: no-repeat;
    opacity: 0.2;
    background-position: center;
    background-size: cover;
}

  .login #email, .login #password {
    border-radius: 0;
    box-shadow: 0 10px 16px 0 rgba(200,200,200,.1), 0 6px 10px 0 rgba(0,0,0,.19);
  }

  .login .control-label {   
    text-align: left;
    padding-bottom: 5px;
  }

  .login button.btn.btn-primary {
    border-radius: 0;
    padding: 8px 25px;
    font-size: 18px;
  }

  .login .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .login .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .login .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: solid 1px #ccc;
  }
  
  /* On mouse-over, add a grey background color */
  .login .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .login .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .login .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .login .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .login .checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*   END LOGIN          */

/*   GENERAL          */ 

.navbar-default {
    background-color: #404040;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.panel-heading.page-panelheading {
    background: transparent;
    border: none;
}

.panel {
    background-color: transparent;
    border: none!important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-body {
    padding: 0;
}

.postcode-search-wrapper, .invoices-search-wrapper, .dataTables_wrapper, .rounded_wrapper, .search-wrapper {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    padding: 20px;
    margin-bottom: 20px;
}

.customerContentContainer .dataTables_wrapper {
    box-shadow: none!important;
}

select {
    border-radius: 25px;
    height: 40px!important;
}

.dropdown-toggle {
    height: 40px;
    font-size: 18px;
}

.btn-danger, .btn-success, .btn-primary, .btn-info, .btn-warning {
    padding: 5px 20px!important;
    font-size: 20px!important;
    border-radius: 0!important;
    width: auto;
}

/*   END GENERAL          */

/*   DATATABLES          */ 

.dataTable, .popup .dataTable {
    border-collapse: collapse!important;
}
.odd, .even, .clickable-row {
    border-bottom: 1px solid #ccc!important;
}

.dataTables_length {
    padding-top: 20px;
}

.dataTables_length select.form-control {
    width: 60px;
    margin: -5px 5px;
}
.dataTables_length label {
    display: flex;    
}

.dataTables_info {
    background-color: #0077c0;
    color: #fff!important;
    padding: 10px 50px;
    width: 100%;
    margin: 25px 0!important;
    font-size: 16px;
}

.dataTable thead tr {
    background-color: #fff!important;
    height: 60px;    
}

table.dataTable.hover tbody tr:hover,table.dataTable.display tbody tr:hover{background-color:#f6f6f6}

.dataTable thead th {
    padding: 10px 18px!important;
}

.dataTable {
    padding: 25px 40px;
    border: none!important;
}

.filterhead {
    border: none!important;
}

.dataTable td {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    background-color: #fff!important;
}

/*.dataTable  tr:last-child td {
    border-bottom: none!important;
}*/

.dataTables_filter {
    margin-right: 10px;
}

.dataTables_filter input {
    border-radius: 25px;
}

.dataTable th.sorting, .dataTable th.sorting_asc, .dataTable th.sorting_desc,
.dataTable td.sorting, .dataTable td.sorting_asc, .dataTable td.sorting_desc {
    border: none!important;
    color: #0077c0;
    text-align: left!important;
    padding-bottom: 30px!important;
    border-bottom: #ccc 1px solid!important;
}

.dataTable thead th {
    border: none!important;
    color: #0077c0;
    text-align: left;
    padding-bottom: 30px!important;
    border-bottom: #ccc 1px solid!important;
}

.amountColumn {
    text-align: right!important;
}

.dataTable td.sorting::after, .dataTable td.sorting_asc::after, .dataTable td.sorting_desc::after {
    display: none!important;
}

.dataTables_paginate {
    font-size: 16px;
    border: #ccc solid 1px;
    padding: 0!important;
    margin-top: 15px;    
}

.dataTables_paginate a:first-child {
    border-left: none!important;
    margin: 0!important;
}

.dataTables_paginate a {
    border-left: #ccc solid 1px!important;
    margin: 0!important;
}

a.paginate_button.current {
    background: #cce3f2!important;
    border: #fff solid 1px!important;
    color: #fff!important;    
}

.dataTables_paginate a:hover {
    background: #7fbbdf!important;
    border: #fff solid 1px!important;
    color: #fff!important;
}

.postcode-search-wrapper p, .invoices-search-wrapper p, .rounded_wrapper p, .search-wrapper p {
    font-weight: 600;
    font-size: 24px;
}

.rounded_wrapper input[type=radio] {
    height: 20px;
    margin: 10px 0;
}

.postcode-search-wrapper .btn-primary, .invoices-search-wrapper .btn-primary, .search-wrapper .btn-primary {
    color: #fff;
    background-color: #0077c0;       
}

.filter-button-wrapper {
    display: block;
}

.filter-button-wrapper button, .filter-button-wrapper a {
    border: none;    
    margin: auto;
    padding: 5px 20px!important;
    font-size: 20px!important;
    border-radius: 0!important;
    width: auto;
}

.btn-myob {
    margin-bottom: 10px!important;
    width: 250px!important;
}

.taskfilterhead {
    border: none!important;
}

/*   END DATATABLES          */

.invoices-search-wrapper form .row:first-child .col-md-3,
.tasks-search-wrapper form .row:first-child .col-md-3 {
    padding: 0;
}

.website-item-menu div:first-child {
    cursor: pointer; 
    width: 80px;
    float: left;
}

.nav .dropdown-menu {  
    min-width: 280px;                      
}

.website-menu>li>a {    
    padding: 3px 0px!important;
}

.nav .dropdown-menu li:first-child img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
}

.website-item-menu img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

.radius-label {
    padding-left: 20px;
}
.report-button-wrapper {
    width: 180px;
    display: inline-block;
}
.report-button {    
    background-color: #0077c0!important;
    border: none!important;
    border-radius: 5px!important;
    width: 160px;    
}
.btn-pdf {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 5px!important;
    padding: 8px 12px;
}

.btn-deleted-customers {
    padding: 5px!important; 
    width: 30px;
}

.myob-wrapper input {
    height: 40px;
}

#customerListWrapper, #map {
    height: 60vh!important;
}

.currentInvDetails input[type=checkbox] {
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: -3px;
}

#sameInvName {
    margin: -5px 15px!important;
}

.customerContentContainer .form-check-inline {
    margin-left: 15px;
}

.overlay {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    right: 0;
    bottom: 0;
}

.close-popup {
    z-index: 999;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50px!important;
    margin: -25px!important;
}

.fa-close {
    font-size: 45px;
    margin: -2px -9px!important;
}

.tasks-search-wrapper .row {
    height: 50px;
}

.glyphicon.glyphicon-calendar i {
    font-size: 20px;
}   

.currentInvDetailsContainer input {
    height: 40px;
}